.bp,
.bb,
.bn,
.br,
.bq,
.bk,
.wp,
.wb,
.wn,
.wr,
.wq,
.wk {
  background-size: 100%;
  cursor: pointer;
  cursor: grab;
  cursor: -webkit-grab;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  touch-action: none;
  width: 100%;
}
.bp {
  background-image: url(../images/pieces/bp.png);
}
.bb {
  background-image: url(../images/pieces/bb.png);
}
.bn {
  background-image: url(../images/pieces/bn.png);
}
.br {
  background-image: url(../images/pieces/br.png);
}
.bq {
  background-image: url(../images/pieces/bq.png);
}
.bk {
  background-image: url(../images/pieces/bk.png);
}

.wp {
  background-image: url(../images/pieces/wp.png);
}
.wb {
  background-image: url(../images/pieces/wb.png);
}
.wn {
  background-image: url(../images/pieces/wn.png);
}
.wr {
  background-image: url(../images/pieces/wr.png);
}
.wq {
  background-image: url(../images/pieces/wq.png);
}
.wk {
  background-image: url(../images/pieces/wk.png);
}
